body {
  background: #fff;
}

.loading-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3rem;
  margin-top: -3rem;
  width: 3rem;
  height: 3rem;
  border: solid 8px var(--mediumseaGreen);
  border-top: solid 8px var(--yankeersBlue);
  border-radius: 50%;
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle-yankeersBlue {
  border: solid 8px #161B40;
}

.circle-pictonBlue {
  border: solid 8px #43BEE5;
  border-top: solid 8px var(--yankeersBlue);
}

.circle-follyRed {
  border: solid 8px #F40058;
  border-top: solid 8px var(--yankeersBlue);
}

.circle-orangeWeb {
  border: solid 8px #EFA500;
  border-top: solid 8px var(--yankeersBlue);
}

.circle-mediumseaGreen {
  border: solid 8px #41B853;
  border-top: solid 8px var(--yankeersBlue);
}

.circle-purpleDark {
  border: solid 8px #4A5AD9;
  border-top: solid 8px var(--yankeersBlue);
}

@keyframes rotation {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
