.chat-box {
    flex: 1;
    border-bottom: 15px solid var(--mediumseaGreen);
    display: flex;
    padding: 10px;
    color: #333;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.displaychat-box {
    flex: 9;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.inputchat-box {
    flex: 1;
    display: flex;
    justify-content: center;
    max-height: 50px;
    justify-self: flex-end;
}

.inputchat-box input {
    width: 90%;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    padding-left: 10px;
    border-radius: 15px;
    font-size: 18px;
}

.inputchat-box button {
    margin-left: 10px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purpleColor);
    color: var(--whiteColor);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    outline: 0;
}

.inputchat-box button:hover {
    cursor: pointer;
    background-color: var(--blueColor);
}

.users-status {
    display: block;
    position: absolute;
    top: 120px;
    width: 300px;
    height: 50px;
    background-color: var(--whiteColor);
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
    transition: .5s;
    animation-name: starttime;
    animation: starttime .5s forwards;
}

.users-status-container {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #ecf0f1;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.users-status-container img {
    width: 20px;
}

.users-status-container p {
    margin-left: 5px;
    font-family: var(--fontRoboto);
}


@keyframes starttime {
    0% { top: -10px; }
    100% { top: 120px; }
}