.message-line {
    width: 100%;
    min-height: 8vh;
    display: flex;
    margin-bottom: 2%;
    padding: 0 1%;
    font-family: var(--fontRoboto);
}

.message-line img {
    margin: 0 .5%;
}

.message-box {
    width: 25vw;
    min-height: 8vh;
    font-family: var(--fontRoboto);
    border-radius: 30px;
}

.message-username {
    letter-spacing: 1px;
    font-size: .8vw;
    margin-top: 1%;
    margin-left: 6%;
}

.message-messagetext {
    color: var(--whiteColor);
    font-size: 1.1vw;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
}

.message-hour {
    letter-spacing: 1px;
    font-size: .9vw;
    margin-top: 2%;
    margin-left: 60%;
    margin-bottom: 1%;
}

.my {
    flex-direction: row-reverse;
    align-self: flex-end;
}

.other {
    flex-direction: row;
    align-self: flex-start;
}

.message-my {
    color: var(--mediumseaGreen);
    border: 1px solid var(--mediumseaGreen);
    align-self: flex-end;
    border-bottom-right-radius: 0px;
}

.message-other {
    color: var(--orangeWeb);
    border: 1px solid var(--orangeWeb);
    align-self: flex-start;
    border-top-left-radius: 0px;
}