.selectdefault {
    width: 100%;
    height: 80%;
    min-height: 21px;
    border-radius: 30px;
    outline: 0;
    color: var(--whiteColor);
    background-color: transparent;
    font-size: 1vw;
    text-align-last: center;
}

.selectlimit {
    width: 25%;
    margin-right: auto;
}

.selectdefault option {
    background-color: var(--yankeersBlue);
    font-size: 1vw;
    text-align-last: center;
    padding-left: 20px;
}

.selectcolor-pictonBlue {
    border: 1px solid var(--pictonBlue);
}

.selectcolor-follyRed {
    border: 1px solid var(--follyRed);
}

.selectcolor-orangeWeb {
    border: 1px solid var(--orangeWeb);
}

.selectcolor-mediumseaGreen {
    border: 1px solid var(--mediumseaGreen);
}

.selectcolor-purpleDark {
    border: 1px solid var(--purpleDark);
}