.main-container {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--whiteColor);
    display: grid;
    grid-template-rows: 14vh 1fr;
    grid-template-areas: 
        "nav"
        "content"
}