.money-box {
    flex: 1;
    border-bottom: 15px solid var(--pictonBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.money-box-container {
    width: 95%;
    height: 90%;
    padding: 10px;
    box-shadow: -10px -10px 30px rgba(0, 0, 0, .20), 10px 10px 30px rgba(0, 0, 0, .20);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.money-box-container h3 {
    font-size: 1.3vw;
    font-weight: 300;
    color: var(--pictonBlue);
    display: flex;
    margin-bottom: 15px;
}

.money-box-container h3 img {
    width: 1.5vw;
    margin-right: 5px;
}

.money-content {
    flex: 1;
    display: flex;
}

.money-content-action {
    flex: 1.6;
    display: flex;
    padding: 1%;
}

.money-content-action-box {
    flex: 1;
    box-shadow: -10px -10px 30px rgba(0, 0, 0, .20), 10px 10px 30px rgba(0, 0, 0, .20);
    border-radius: 15px;
    min-height: 384px;
    padding: 7px 12px;
    font-family: var(--fontRoboto);
    display: flex;
    flex-direction: column;
}

.money-content-action-box p {
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    font-size: 1.1vw;
    margin-bottom: 10px;
}

.money-content-action-box p img {
    width: 1.3vw;
    margin-right: 5px;
}

.money-content-action-box-value {
    grid-area: contentvalue;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.money-content-action-box-value label {
    margin: 15px 15px 15px 0; 
}

.money-content-action-box-value h4 {
    font-family: var(--fontRoboto);
    margin-top: 20px;
    font-size: 2.3vw;
    color: var(--whiteColor);
}

.money-content-action-box-remove {
    grid-area: contentremove;
    padding-left: 6%;
    display: flex;
    flex-direction: column;
}

.money-content-action-box-remove label {
    margin: 15px 15px 15px 0;
}

.money-content-info {
    flex: 1;
    display: flex;
    padding-bottom: 10px;
}

.money-content-info-payment {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--pictonBlue);
    padding: 0 10px;
}

.money-content-info-payment p {
    font-size: 1.1vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.money-content-info-payment p img {
    width: 1.3vw;
    margin-right: 5px;
}

.money-content-info-payment-ok {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.money-content-info-payment-ok-users {
    flex: 1;
    display: block;
    font-family: var(--fontRoboto);
}

.money-content-info-payment-ok-users p {
    color: var(--whiteColor);
    font-size: 1.1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.money-content-info-payment-ok-users p img {
    width: 1.3vw;
    margin-left: 20px;
}

.money-content-info-payment-pending {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.money-content-info-payment-pending-users {
    flex: 1;
    display: block;
    font-family: var(--fontRoboto);
}

.money-content-info-payment-pending-users p {
    color: var(--whiteColor);
    font-size: 1.1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.money-content-info-payment-pending-users p img {
    width: 1.3vw;
    margin-left: 20px;
}

.money-content-info-search {
    flex: 1;
    border-left: 1px solid var(--pictonBlue);
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.money-content-info-search p {
    font-size: 1.1vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.money-content-info-search p img {
    width: 1.3vw;
    margin-right: 5px;
}

.money-content-info-search-result {
    color: var(--whiteColor);
    font-size: 1.1vw;
    display: flex;
    justify-content: center;
}