@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

:root {
  --fontRoboto: 'Roboto', sans-serif;
  --fontOpensans: 'Open Sans', sans-serif;

  /* New Design */
  --yankeersBlue: #161B40;
  --pictonBlue: #43BEE5;
  --follyRed: #F40058;
  --orangeWeb: #EFA500;
  --mediumseaGreen: #41B853;
  --purpleDark: #4A5AD9;
  --whiteColor: #fff;

  /* Old Design */
  --purpleColor: #9b59b6;
  --blueColor: #3498DB;
  --redColor: #e74c3c;
  --fieldColor: rgba(255, 255, 255, .5);
}

[data-theme="dark"] {
  --fontRoboto: 'Roboto', sans-serif;
  --purpleColor: #42234F;
  --blueColor: #144A6E;
  --whiteColor: #877568;
  --redColor: #c0392b;
  --fieldColor: #221627;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px rgba(0, 0, 0,.2); */
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--mediumseaGreen); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--orangeWeb); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.row {
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}